@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100% !important;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.transform_style_3d{
    transform-style: preserve-3d;
}
.card {
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.card:hover{
    transform: rotateY(180deg);
}

.backface_hidden {
    backface-visibility: hidden;
}
.rotateY {
    transform: rotateY(180deg);
}

.arrow-right {
    position: absolute;
    top: 50%;
    right: -50px;
    padding: 0 15px;
    color: white;
    cursor: pointer;
}
.arrow-left {
    position: absolute;
    top: 50%;
    left: -50px;
    padding: 0 15px;
    color: white;
    cursor: pointer;
}